body{
  height:100vh;
  width: 100%;
  margin:0;
}

.wrapper{
  width:60%;
  height:100%;
  margin-left:auto;
  margin-right:auto;
}

header{
  height:20%;
  background-color:yellow;
  }

  
.logo-wrapper{
  background-color:rgb(78, 73, 72);
  height:60%;
}

.logo{
  float:left;
  width:20%;
  margin:1%;
  border:1%;
  background-color:grey;
  height:50%;
}


.bolitas{
  float:right;
  background-color: chartreuse;
  height:40%;
  width:20%;
  margin:1%;
}

.bolitas div{
  display:inline;
  background-color:grey;
  margin:2%;
  padding:2%;
  height:95%;
  width:20%;
  border-radius: 50%;;
}


nav{
  width:100%;
  height:40%;
  background-color: blue;
}

nav li{
  width:20%;
  display:inline;
  margin-left:2%;    
  background-color:cyan;
}

nav a:first-child{
  margin-left:0;
}




main{
  height:50%;
}


.rectangle-boxes{
  width:100%;
  height:30%;
}

.box {
  display:inline;
  float:left;
  width:30%;
  height:100%;
  padding:1%;
  margin-left:1%;
  background-color: grey;
}

#section2{
  display:inline;
  width:100%;
  height:40%;
  margin-top:5%;
  margin-bottom:5%;
}

.central-article{
  background-color:rgb(56, 50, 50);
  float:left;
  width:50%;
  height:100%;
  margin-left: auto;
  margin-right: auto;
}

.content-left{
  float:left;
  background-color:rgb(179, 170, 172);
  height:100%;
  width:25%;
  float:left;
}

.content-right{
  background-color:rgb(204, 19, 59);
  float:left;
  height:100%;
  width:25%;
}

footer{
  width:100%;
  height:25%;
  background-color: rgb(56, 50, 50);
}